<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Art Generator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Ascii Art Generator</h1>
    <form method="POST" action="/asciiart">
        <label for="input" name="input" id="input">Please enter texts below</label><br>
        <textarea name="text" id="text" placeholder="ascii characters only"></textarea><br>
        <label for="fonts">Please choose a font</label><br>
        <div>
            <input type="radio" name="fonts" value="standard" id="standard">
            <label for="standard">Standard</label>
        </div>
        <div>
            <input type="radio" name="fonts" value="thinkertoy" id="thinkertoy">
            <label for="thinkertoy">Thinkertoy</label>
        </div>
        <div>
            <input type="radio" name="fonts" value="shadow" id="shadow">
            <label for="shadow">Shadow</label>
        </div>
        <div>
            <input type="submit" value="Submit" id="submit">
        </div>
    </form>
    <div id="output">
        <pre>{{.}}</pre>
    </div>
</body>

</html>